<%- include("partials/header.ejs", {
  signedIn: signedIn,
  currentSection: "Home",
  name: name
}) %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6"> <img src="/images/index_image.jpg" class="d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="700" height="500" loading="lazy"> </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to DogPost</h1>
            <p class="lead">DogPost is a blog by dogs and for dogs, if dogs could actually use a computer
                or mobile device to create posts. Everything you see here is manufactured as a project to
                learn how to use Express.js, Node.js, and Bootstrap as well as rendering web pages with EJS.
            </p>
            
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>