<%- include("partials/header.ejs", { 
  signedIn: signedIn, 
  currentSection: "Login"
}) %>

<div class="d-flex align-items-center py-4">
  <div class="form-signin w-25 m-auto">
    <form action="/login" method="post"> 
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="form-floating py-1"> 
        <input type="email" class="form-control py-2" id="floatingInput" name="emailAddress" placeholder="name@example.com"> 
        <label for="floatingInput">Email address</label> 
      </div>
      <div class="form-floating py-1"> 
        <input type="password" class="form-control py-2" id="floatingPassword" name="password" placeholder="Password"> 
        <label for="floatingPassword">Password</label> 
      </div>
      <div class="py-1">
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>

<div class="d-flex align-items-center w-25 m-auto">
  <span class="text-danger <%= invalidLogin ? "" : "d-none" %>">Invalid email or password</span>
</div>

<%- include("partials/footer.ejs") %>
